body{
    font: 1em sans-serif;
}


/* ********************************** HEADER ITEMS ********************************** */

.loginlogout{
    display: flex;
    justify-content: right;
    position: sticky;
    top:0;
}

.loginlogout button{
    padding: 10px;
    margin-right: 50px;
    border: 1px solid #bd6b00;
    border-radius: 4px;
    background-color: #f87224;
    color: white;
    cursor: pointer;
}

/* **********************************POPUP ITEMS ********************************** */

.posting-popup {
    z-index: 5;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.posting-popup-content {
    position: relative;
    margin: 10% auto;
    padding: 25px;
    background-color: white;
    width: 80%;
    border-radius: 5px;
}

.posting-close {
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.getter-popup {
    z-index: 4;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.getter-popup-content {
    position: relative;
    margin: 1% auto;
    padding: 5px;
    background-color: white;
    width: 90%;
    height:90%;
    border-radius: 5px;
    overflow-y: auto;
}

.getter-close {
    position: sticky;
    color: red;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.getter-responseTable{
    width: 100%;
    border-collapse: collapse;
}

.getter-responseTable th, .getter-responseTable td {
    border: 1px solid #ddd;
    padding: 8px;
}



  
/* ********************************** REGISTER FORM ********************************** */

.registerForm{
    border: 2px solid black;
    padding:10px;
    margin: 10px;
    width: 50vh;
    background-color: honeydew;
    font: 1em sans-serif;
    display:flex;
    align-items: left;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 8px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 10px;
}

form button{
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1b8835;
    color: white;
    font-size: 0.7em;
    cursor: pointer;
}

form button:hover{
    background-color: #00440f;
}


/* ********************************** CONTAINER  ********************************** */

.flex-container-left{
    display: flex;
    justify-content: left;
}

.flex-container-center{
    display: flex;
    justify-content: center;
}

.container-noflex{
    border: 2px dotted black;
    padding:20px;
    margin: 30px;
    width: 190vh;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
}

.container-flex{
    border: 2px solid black;
    padding:10px;
    margin: 10px;
    width: 180vh;
    height: auto;
    background-color: honeydew;
    display:flex;
    align-items: left;
    justify-content: space-evenly;
    border-radius: 8px;
}


/* ********************************** GETTER BUTTON / NORMAL BUTTON  ********************************** */

button{
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #00628f;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover{
    background-color: #061177;
}